header h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  text-decoration: underline;
}
.descr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
header hr {
  margin: 0;
}
.descr svg {
  margin-left: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.descr svg:hover {
  transform: scale(1.2);
}

.board {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
